<div class="form-actions">
  <%= @form.button :submit, 'Guardar', class: 'btn btn-primary' %>
  <span>  </span>
  <%= link_to 'Cancelar', @resourse_path , :class => 'btn btn-default', :role => 'button' %>
</div>
