// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-item-show-link{
  margin-right: 40%;
}
.list-item-action-link{
  margin-right: 5%;
  margin-left: 5%;
}