
<h2>Cursadas</h2>
<div class="row">
  <div class="col-md-10">
    <ul class="list-group">
      <% @courses.each do |course| %>
       <li class="list-group-item justify-content-between">
         <%= link_to course.to_s, course, :class => 'list-item-show-link' %>
         <%= link_to edit_course_path(course), :class => 'btn btn-success list-item-action-link', :role => 'button' do %>
          <span class="fa fa-edit fa-lg"></span> Editar
         <% end %>
         <%= link_to course_path(course) , :method => 'delete', :class => 'btn btn-danger list-item-action-link',
                     data: { confirm: 'Are you sure?' }, :role => 'button' do %>
           <span class="fa fa-trash-o fa-lg"></span> Eliminar
         <% end %>
       </li>
      <% end %>
    </ul>
  </div>
</div>
<%= link_to 'Nueva cursada', new_course_path, class: 'btn btn-primary new-button' %>
