<% if resource.errors.any? %>
  <div id="error-explanation">
    <div class="alert alert-danger" role="alert">
     <h5>No se pudo realizar la operación</h5>
      <h6>Se detectaron los siguientes errores</h6>
    </div>
  </div>
<% end %>